*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    

}
body{
    background-image: url(fnaf.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
}

header{
    border: 5px solid rgb(255, 0, 0);
    display: flex;
    height: 100vh;
    width: 70vh;
    justify-content: end;
    flex-wrap: wrap;
}

.five{
    border: 1px solid rgb(145, 255, 0);
    height:20vh ;
    width: 55vh;
} 
.new{
    border: 1px solid blueviolet;
    height: 10vh;
    width: 30vh;
}