*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    

}
body{
    background-image: url(fnaf.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
}

header{
    border: 5px solid rgb(255, 0, 0);
    display: flex;
    height: 100vh;
    width: 70vh;
    justify-content: end;
    flex-wrap: wrap;
}

.five{
    border: 1px solid rgb(145, 255, 0);
    height:20vh ;
    width: 55vh;
} 
p{/* tamanho perso. da fonte five.... */
    font-size: 6rem;
}

.menu{
    border: px solid blue;
    height: 30vh;
    width: 50vh;
}

p1{
    font-size: 4rem;
}

p2{
    font-size: 4rem;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

a:hover{
    color: brown;
}

a2:hover{
    color: brown;
}