*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url(fnaf.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
}

header{
    border: 5px solid rgb(255, 0, 0);
    display: flex;
    height: 100vh;
    width: 70vh;
    justify-content: end;
}

.five{
    border: 1px solid rgb(145, 255, 0);
    height:25vh ;
    width: 55vh;
} 

p{
    font-size: 6rem;
}

